body {
  margin: 0;
}

.web-icon{
  bottom: 50%;
}
.search-icon{
  background-color: white !important;
  border: none !important;
  display: block;
}
.placholder-search{
  font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #808080;
}
.logo{
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
/*menu */
.row-bg{
  background: #F5F5F5;
  height: auto;
  padding-top:25px;
  padding-bottom:25px;

}
.link-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: #000000;
}

.link{
  text-decoration: none;
  color: #000000;
}
.link:hover,.link:focus{
  color: #97816d;
}


/* louis  */
.louis-title{
padding-top: 2.2rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 117px;
  color: #C6AC96;
  text-align: center;

}
.handbag-heart{
top: 0%;
left: 20px;
}
.handbag-icons{
top: 0%;
right: 49px;
}
.sub-title-louis{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 63px;
color: #000000;
text-align: center;
padding-bottom: 1.8rem;
}
.bags{
  width: 100px;
height: 100px;
}
.bags:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.1s ease;
}
.show-bag{
  height: 100% !important;
}
.show-bag:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.1s ease;
}
.bag-details{

background: rgba(198, 172, 150, 0.32);
position: relative;
}
.price{
  
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.bag-details .price1{


font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;
text-decoration-line: line-through;
color: #000000;
}
.hanbagDetail{
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 20px;
}
.bag-details .price2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 35px;
  padding-inline: 12px;
  color: #DD0000;
}
.bag-details .pourcentage{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;

color: #146900;
}
.badge-icon{
  padding-bottom: 28px;
}
.estimated{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 26px;
padding-top: 8px;
padding-top: 10px;

color: #777777;
}
.text-hanbagDetail{
  display: flex;
  padding-top: 29px;}
.badge-txt{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 26px;

color: #000000;
}
.learn-more{
  text-decoration: none;
  color: #000000;
  text-decoration: underline;
}
.learn-more:hover,.learn-more:focus{
  text-decoration: none;
  color: #97816d !important;
}
.bag-details .msg{
padding-top: 41px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #000000;

transform: rotate(-0.28deg);
}
.btn-order{
width: 100%;
height: 96px;
background: #000000;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 55px;
color: #FFFFFF;
margin-top: 20px;
margin-top: 40px;
}
.btn-order:hover{
  background: #bca38d;
  border:none;
  color: black;

}
.btn-grp{
  
  padding-top: 20px;
}
.btn-bag{
  width: 240px;
height: 86px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
background: #FFFFFF;
}
.requestView:hover{
  background: #C6AC96;
  color: #000000;

}
.btn-store:hover{
  background: #C6AC96;
  color: #000000;

}
.makeOffer:hover{
  background: #bca088;
  color: white;
}
.requestView{
  background: #FFFFFF;
  border: none;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 26px;
color: #000000;
width: 100%;
padding-inline: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.makeOffer{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
padding-inline: 30px;

color: #000000;
  background: #C6AC96;
  border: none;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 18px;
}
.btn-store{
  border: none;
  background: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 9px;
  padding-inline: 20px;
}
.btn-label{

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
color: #000000;
}
.btn-bag:focus{
  background: #C6AC96 !important;
}
.location{
display: flex;
padding-top: 39px;
}
.location-name{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
color: #000000;
}
/* Details */
.detailsTitle{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;


color: #000000;
}
.detailText{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.detailType{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 26px;

text-align: right;

color: #000000;
}

/* Seller */
.check-txt{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #C49235;
}
.username{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.unfollow{
  background: #C6AC96;
  width:107.09px !important;
height: 31px !important;
font-family: 'Montserrat ' !important;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
border-radius: 5px;
color: #FFFFFF;
border: none;
}
.contact{
  background: #000000;

  width:107.09px !important;
  height: 31px !important;
  font-family: 'Montserrat ' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
}
.unfollow:hover{
  background: #C6AC96;
  color: #000000;}
.contact:hover{
  background: #C6AC96;
  color: #000000;
}
.username2{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.see-more{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-decoration-line: underline;
color: #3E97EA;

}

/* Menu */
.quality{
  
  background: #EAEAEA;
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu-txt{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 37px;
text-align: start;
color: #000000;
}
.shield{
  Width: 27px;
  height: 30px;
}
.arrow{
  width:19px ;
  height:31px ;
height: 100%;

}
/* Comment */
.box{
  width: 95%;
background: #EAEAEA;
}
.label-comment{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
color: #000000;
}
.comment-text{
height: 146px;
background: #FFFFFF;
}
.comment-text::placeholder{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
color: #959595;
}
.btn-comment{
  width: 182px;
height: 43px;
background: #FFFFFF;
border-radius: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
color: #000000;
border:none;
}
.btn-comment:hover{
  background: #C6AC96;
  color: #000000;

}
/* Card */
.card-title{
  margin: auto;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 65px;
line-height: 79px;
text-align: center;
color: #000000;
padding-bottom: 60px;
padding-top: 75px;

}
.box-card{
width: 100%;
height: auto;
background: #F9F9F9;
padding-top: 130px;
padding-bottom: 130px;
justify-content: center;
}

.backgroud-card{
background-color: #F9F9F9;
}
.card-container{
  padding-top: 100px;
  padding-bottom: 100px;
}

.card{
  border-radius: 34px !important;
}
.rolex{
  height: 100%;

}
.rolex-div{
  text-align: center;
  padding-top: 13px;
  height: 220px;
}

.heart{
  top: 0;
  right: 0;
  padding-right: 39px;
  padding-top: 40px;
}
.card-image{
  height: 225px;
  padding-top: 25px;
}

.title2-card{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600 !important;
font-size: 24px !important;
line-height: 29px !important;
text-align: center;
color: #000000;
padding-bottom: 0.75rem!important;
padding-top: 2.5rem!important;
}
.title3-card{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
padding-bottom: 0.75rem;
color: #959595;
}
.title4-card{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
padding-bottom: 0.75rem;
color: #C6AC96;
}
.title5-card {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
justify-content: center;
color: #959595;
padding-bottom: 3rem;
}
.rolex-div{
  display: flex;
  text-align: center;
  justify-content: center;
}
.gucci{
  width: 161px;
height: 214px;
}
/* Footer */
.footer{
  background: #221F1E !important;
}
.footer-start{
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer-end{
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-title{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
text-transform: uppercase;
color: #FFFFFF;
padding-bottom: 30px;

}
.sub-tittle-footer{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-decoration: none;
color: #C4C4C4;
display: grid;
margin-bottom: 15px;
}
.sub-tittle-footer:hover{
  color: #ede5e5;
}
.hr-footer{
  color: rgba(237, 237, 237, 0.24);
}
.select-location{
padding: 0px !important;
font-family: 'Montserrat'!important;
font-style: normal;
font-weight: 400 !important;
font-size: 24px;
line-height: 29px !important;
border: none !important;
color: #FFFFFF !important;
background: url(../src/assets/images/ChevronDown.png) no-repeat;
background-position: right;

}
.end-section{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  align-items: baseline;
  color: #C4C4C4;
}
.end-section:hover{
  color: #ede5e5;
}
.code{
    
  color: #C4C4C4;
}
.app-store{
  width: 130px;

}
.google-play{
  width: 110px;
}
.btn-footer{
  background-color:transparent!important;
  border: none;
}
.social-media{
  background-color: transparent;
  width: fit-content;
  border: none;
}
.social-media:hover{
  background-color: #ede5e5;

}
/* Nav */

.Logo-nav{
  margin: auto;
}
.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    
  }

  .search input{

   height: 60px;
   text-indent: 25px;
   border: 2px solid #d6d4d4;


  }
  .search input:focus{

   box-shadow: none;
   border: 2px solid blue;
  }
  .search .fa-search{
   position: absolute;
  }
.input-group-text{
  background-color: white !important;
  border-radius: 12px;
}

.search-w{
  width: 400px !important;

}
.search-nav{
  border-left-style:none !important;
  display: block;
  border-radius: 12px;
  width: 515px;
  height: 59px;
  
}
.search-nav:focus{
  box-shadow: none !important;
  border-color: none;
}
.search-nav::placeholder{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #808080;
}
.sell-item{
  background: #C6AC96;
border-radius: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #000000;
border: none;
padding-top: 10px;
padding-bottom: 10px;
padding-inline: 22px;
}
.sell-item:hover {
  background: #b5977d;
}
.sign-in{
  text-decoration: none;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
padding-left: 17px;
color: #000000;
}
.shoppoing-bag{
 background-color: transparent;
 border: none;
}
.shoppoing-bag img:hover{
  border-radius: 20px;
  border:1px solid#b5977d;
}
.navbarheader{
  padding-top: 50px !important;
  padding-bottom: 50px!important;
background-color: white;
}

.menu{
  padding-bottom: 50px!important;
background-color: white;
}
.navbar-toggler{
  color: #c6ac96;
  font-family: 'Montserrat';
  border: 1px solid #c6ac96;
}

.footer-txt{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #808080;
}
.date{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #808080;
}
/*  */

.navHeader {
  flex-grow: 0 !important;
}

.card:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.1s ease;
}
.sign-in:hover{
  color: #b5977d;

}
.modal-nav{
  width: auto !important;
padding-right: 20px;
padding-left: 20px;
top: 25% !important;

}
.modal-header{
  border: none!important;
}
.close-btn{
  background-color: transparent !important;
  border: none !important;
  
}
.close-btn:hover{
  background-color: #97816d;
}
.modal-content{
  border-radius: 20px !important;
}
.quality:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.1s ease;
}
/* .modal-backdrop {
background-color:  transparent !important;
} */
.modal-backdrop {
  position: relative !important;

  background-color: transparent !important;
}