  /* @media only screen and (max-width: 600px) {
    body {
      zoom: .4;
    }
  } */
/* 
  @media only screen and (max-width: 800px) {
    body {
      zoom: .6;        
    }
  } */
  /* @media only screen and (min-width: 1000px) {
    body {
      zoom: .6;        
    }
  } */
  /* @media only screen and (max-width: 1000px) {
    body {
      zoom: 1;
    }
  } */
body {
  margin: 0;
}


.search-icon{
  background-color: white !important;
  border: none !important;
  display: block;
}
.placholder-search{
  font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #808080;
}
.logo{
  margin: 0 auto;
}
/* Route Row */
.row-bg{
  background: #F5F5F5;
  height: auto;
  padding-top:20px;
  padding-bottom:20px;

}
.link-text{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
/* font-size: 24px; */

color: #000000;
}

.link{
  text-decoration: none;
  color: #000000;
}
.link:hover,.link:focus{
  color: #97816d;
}

/* louis  */
.louis-title{

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 117px;
  color: #C6AC96;
  text-align: center;

}
.sub-title-louis{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 63px;
color: #000000;
text-align: center;
}
.bags{
  width: 100px;
height: 100px;
}
.show-bag{
  top: 681px;
  width: 740px;
  height: 740px;
}
.bag-details{
height: 784px;
/* width: 959px; */
background: rgba(198, 172, 150, 0.32);
position: relative;
}
.bag-details .price1{
  /* position: absolute;
  left: 57.61%;
right: 35.19%;
top: 11.93%;
bottom: 87.19%; */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;
text-decoration-line: line-through;

color: #000000;
}
.bag-details .price2{


  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 35px;
  
  color: #DD0000;
}
.bag-details .pourcentage{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;

color: #146900;
}
.estimated{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 26px;

color: #777777;
}
.badge-txt{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 26px;
width: 317px;
color: #000000;
}
.learn-more{
  text-decoration: none;
  color: #000000;
}
.learn-more:hover,.learn-more:focus{
  text-decoration: none;
  color: #97816d !important;
}
.bag-details .msg{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #000000;
width: 182px;
transform: rotate(-0.28deg);
}
.btn-order{
  /* width: 730px; */
  height: 96px;
  background: #000000;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 55px;
color: #FFFFFF;
}
.btn-order:hover{
  background: #c6ac96;
  border:none;

}
.btn-bag{
  width: 240px;
height: 86px;
/* left: 1116px;
top: 1186px; */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
background: #FFFFFF;
}
.btn-label{

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
color: #000000;
}
.btn-bag:focus{
  background: #C6AC96 !important;
}
.location{
  width: 45px;
height: 45px;
/* left: 1112px;
top: 1313px; */
}
.location-name{
  left: 1165px;
top: 1322px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
/* identical to box height */


color: #000000;
}
/* Details */
.detailsTitle{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */


color: #000000;
}
.detailText{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.detailType{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 26px;
/* identical to box height */

text-align: right;

color: #000000;
}

/* Seller */
.check-txt{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #C49235;
}
.username{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.unfollow{
  background: #C6AC96;
  width:107.09px !important;
height: 31px !important;
font-family: 'Montserrat ' !important;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
border-radius: 5px;
color: #FFFFFF;
border: none;
}
.contact{
  background: #000000;

  width:107.09px !important;
  height: 31px !important;
  font-family: 'Montserrat ' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
}
.unfollow:hover{
  background: #c6ac96b9;
}
.contact:hover{
  background: #0000009e;

}
.username2{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.see-more{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-decoration-line: underline;

color: #3E97EA;
padding-left: 290px;
}
.star{
  padding-left: 100px;
}
/* Menu */
.quality{
  
background: #EAEAEA;
border-radius: 10px;
width: 675px;
height: 65px;
}
.menu-txt{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 37px;
/* identical to box height */


color: #000000;
}
.shield{
  Width: 27px;
  height: 30px;
}
.arrow{
  width:19px ;
  height:31px ;


}
/* Comment */
.box{
  width: 95%;
height: 314px;
left: 880px;
top: 2147px;

background: #EAEAEA;
}
.label-comment{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
color: #000000;
}
.comment-text{
height: 146px;
background: #FFFFFF;
}
.comment-text::placeholder{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
color: #959595;
}
.btn-comment{
  width: 182px;
height: 43px;
background: #FFFFFF;
border-radius: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
color: #000000;
border:none;
}

/* Card */
.card-title{
  margin: auto;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 65px;
line-height: 79px;
text-align: center;
color: #000000;
padding-bottom: 60px;
padding-top: 75px;

}
.box-card{
width: 100%;
height: auto;
background: #F9F9F9;
padding-top: 130px;
padding-bottom: 130px;
justify-content: center;
}
.card-width{
  width: fit-content;
height:fit-content;
border-radius: 23px;
}
.rolex{
  padding-top: 8px;
  width: 161px;
height: 214px;
}
.rolex-div{
  text-align: center;
  padding-top: 13px;
}
.heart{
  width:35.83px ;
  height: 33.86px;
  margin-top: 24px;
}

.bookmark{
  margin-top: 24px;}
.title2-card{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600 !important;
font-size: 24px !important;
line-height: 29px !important;
text-align: center;
color: #000000;
padding-bottom: 0.75rem!important;
padding-top: 2.5rem!important;
}
.title3-card{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
padding-bottom: 0.75rem;
color: #959595;
}
.title4-card{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
padding-bottom: 0.75rem;
color: #C6AC96;
}
.title5-card {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
justify-content: center;
color: #959595;
padding-bottom: 3rem;
}
.rolex-div{
  padding-left: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
}
.gucci{
  width: 161px;
height: 214px;
}
