body {
  margin: 0;
}

.web-icon{
  bottom: 50%;
}
.search-icon{
  background-color: white !important;
  border: none !important;
  display: block;
}
.placholder-search{
  font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #808080;
}
.logo{
  margin: 0 auto;
}
/* Route Row */
.row-bg{
  background: #F5F5F5;
  height: auto;
  padding-top:20px;
  padding-bottom:20px;

}
.link-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: #000000;
}

.link{
  text-decoration: none;
  color: #000000;
}
.link:hover,.link:focus{
  color: #97816d;
}

/* louis  */
.louis-title{
padding-top: 2.2rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 117px;
  color: #C6AC96;
  text-align: center;

}
.sub-title-louis{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 63px;
color: #000000;
text-align: center;
padding-bottom: 1.8rem;
}
.bags{
  width: 100px;
height: 100px;
}
.show-bag{
  height: 100% !important;
}
.bag-details{

background: rgba(198, 172, 150, 0.32);
position: relative;
}
.price{
  
  justify-content: space-between;
  align-items: center;
  display: flex;
  /* flex-direction: column; */
}
.bag-details .price1{
  /* position: absolute;
  left: 57.61%;
right: 35.19%;
top: 11.93%;
bottom: 87.19%; */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;
text-decoration-line: line-through;
color: #000000;
}
.hanbagDetail{
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 20px;
}
.bag-details .price2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 35px;
  padding-inline: 12px;
  color: #DD0000;
}
.bag-details .pourcentage{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;

color: #146900;
}
.badge-icon{
  padding-bottom: 28px;
}
.estimated{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 26px;
padding-top: 8px;
padding-top: 10px;

color: #777777;
}
.text-hanbagDetail{
  display: flex;
  padding-top: 29px;}
.badge-txt{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 26px;
width: 317px;
color: #000000;
}
.learn-more{
  text-decoration: none;
  color: #000000;
}
.learn-more:hover,.learn-more:focus{
  text-decoration: none;
  color: #97816d !important;
}
.bag-details .msg{
padding-top: 41px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #000000;
width: 182px;
transform: rotate(-0.28deg);
}
.btn-order{
width: 100%;
height: 96px;
background: #000000;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 55px;
color: #FFFFFF;
margin-top: 20px;
margin-top: 40px;
}
.btn-order:hover{
  background: #3b3a3a;
  border:none;

}
.btn-grp{
  
  padding-top: 20px;
}
.btn-bag{
  width: 240px;
height: 86px;
/* left: 1116px;
top: 1186px; */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
background: #FFFFFF;
}
.requestView{
  background: #FFFFFF;
  border: none;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 26px;
color: #000000;
padding-inline: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 29px;
}
.makeOffer{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
color: #000000;
  background: #C6AC96;
  border: none;
  padding-inline: 30px;
  padding-top: 15px;
  padding-bottom: 18px;
  margin-right: 22px;
}
.btn-store{
  border: none;
  background: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 9px;
  padding-inline: 20px;
}
.btn-label{

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
color: #000000;
}
.btn-bag:focus{
  background: #C6AC96 !important;
}
.location{
display: flex;
padding-top: 39px;
}
.location-name{
  left: 1165px;
top: 1322px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
/* identical to box height */


color: #000000;
}
/* Details */
.detailsTitle{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */


color: #000000;
}
.detailText{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.detailType{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 26px;
/* identical to box height */

text-align: right;

color: #000000;
}

/* Seller */
.check-txt{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #C49235;
}
.username{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.unfollow{
  background: #C6AC96;
  width:107.09px !important;
height: 31px !important;
font-family: 'Montserrat ' !important;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
border-radius: 5px;
color: #FFFFFF;
border: none;
}
.contact{
  background: #000000;

  width:107.09px !important;
  height: 31px !important;
  font-family: 'Montserrat ' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
}
.unfollow:hover{
  background: #c6ac96b9;
}
.contact:hover{
  background: #0000009e;

}
.username2{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.see-more{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-decoration-line: underline;
color: #3E97EA;

}
/* .star{
  padding-left: 100px;
} */
/* Menu */
.quality{
  
  background: #EAEAEA;
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu-txt{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 37px;
/* identical to box height */


color: #000000;
}
.shield{
  Width: 27px;
  height: 30px;
}
.arrow{
  width:19px ;
  height:31px ;


}
/* Comment */
.box{
  width: 95%;
height: 314px;
left: 880px;
top: 2147px;

background: #EAEAEA;
}
.label-comment{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
color: #000000;
}
.comment-text{
height: 146px;
background: #FFFFFF;
}
.comment-text::placeholder{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
color: #959595;
}
.btn-comment{
  width: 182px;
height: 43px;
background: #FFFFFF;
border-radius: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
color: #000000;
border:none;
}

/* Card */
.card-title{
  margin: auto;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 65px;
line-height: 79px;
text-align: center;
color: #000000;
padding-bottom: 60px;
padding-top: 75px;

}
.box-card{
width: 100%;
height: auto;
background: #F9F9F9;
padding-top: 130px;
padding-bottom: 130px;
justify-content: center;
}
.card-width{
  width: fit-content;
height:fit-content;
border-radius: 23px;
}
.rolex{
  padding-top: 8px;
  width: 161px;
height: 214px;
}
.rolex-div{
  text-align: center;
  padding-top: 13px;
}
.heart{
  width:35.83px ;
  height: 33.86px;
  margin-top: 24px;
}

.bookmark{
  margin-top: 24px;}
.title2-card{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600 !important;
font-size: 24px !important;
line-height: 29px !important;
text-align: center;
color: #000000;
padding-bottom: 0.75rem!important;
padding-top: 2.5rem!important;
}
.title3-card{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
padding-bottom: 0.75rem;
color: #959595;
}
.title4-card{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
padding-bottom: 0.75rem;
color: #C6AC96;
}
.title5-card {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
justify-content: center;
color: #959595;
padding-bottom: 3rem;
}
.rolex-div{
  padding-left: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
}
.gucci{
  width: 161px;
height: 214px;
}
/* Footer */
.footer{
  background: #221F1E !important;
}
.footer-start{
  /* padding-inline: 100px; */
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer-end{
  /* padding-left: 100px; */
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-title{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
text-transform: uppercase;
color: #FFFFFF;
padding-bottom: 30px;

}
.sub-tittle-footer{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-decoration: none;
color: #C4C4C4;
display: grid;
margin-bottom: 15px;
}
.sub-tittle-footer:hover{
  color: #ede5e5;
}
.hr-footer{
  color: rgba(237, 237, 237, 0.24);
}
.select-location{
padding: 0px !important;
font-family: 'Montserrat'!important;
font-style: normal;
font-weight: 400 !important;
font-size: 24px;
line-height: 29px !important;
border: none !important;
color: #FFFFFF !important;
background: url(../src/assets/images/ChevronDown.png) no-repeat;
background-position: right;

}
.end-section{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  
  color: #C4C4C4;
}
.code{
    
  color: #C4C4C4;
}
.app-store{
  width: 130px;

}
.google-play{
  width: 110px;
}

/* Nav */

.Logo-nav{
  margin: auto;
}
.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    
  }

  .search input{

   height: 60px;
   text-indent: 25px;
   border: 2px solid #d6d4d4;


  }
  .search input:focus{

   box-shadow: none;
   border: 2px solid blue;
  }
  .search .fa-search{
   position: absolute;
  }
.input-group-text{
  background-color: white !important;
  width: 11%;
}
.search-w{
  width: 415px !important;
/* border: 1px solid #E3E3E3 !important;
border-radius: 12px !important; */
}
.search-nav{
  border-left-style:none !important;
  display: block;
  width: 390.01px;
  
}
.search-nav::placeholder{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #808080;
}
.sell-item{
  background: #C6AC96;
border-radius: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #000000;
border: none;
padding-top: 10px;
padding-bottom: 10px;
padding-inline: 22px;
}
.sign-in{
  text-decoration: none;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
padding-left: 17px;
color: #000000;
}
.shoppoing-bag{
  width: 33x;
  padding-left: 17px;
}
.navbar{
  padding-top: 50px !important;
  padding-bottom: 50px!important;
background-color: white;
}
.navbar-toggler{
  background-color: black !important;
}




/* Card */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.row1 {
  margin: 0 -5px;
  width: 100%;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
  
}

/* Responsive columns */
@media screen and (max-width: 700px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 38px;
}